h1 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-family: "Lora", serif;
}
img {
  display: block;
  width: 200px;
  margin: 0px auto;
  line-height: 20px;
}

.links {
  text-align: center;
}

.opensource {
  text-align: center;
  font-family: "Lora", serif;
}
