body {
}

h1 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-family: "Lora", serif;
}

.links {
  text-align: center;
}

.gihubLink {
  text-align: center;
  font-family: "Lora", serif;
}
