body {
  background-color: #f3f3f3;
  margin: 200px 200px;
  padding: 10px auto;
}
h1 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
}
img {
  float: left;
  border-radius: 50%;
  width: 200px;
  margin: 0px auto;
  line-height: 20px;
}

.links {
  text-align: center;
}

.opensource {
  text-align: center;
  font-family: "Lora", serif;
}
